<div class="row">

    <div class="">

        <input type="text" [(ngModel)]="filter22">

    </div>
    <div class="col-12">
        <div class="">
            <table>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Symbol</th>
                    <th>link</th>
                </tr>
                <tr *ngFor="let item of list | filter:filter22" >
                    <td>{{item.position}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.symbol}}</td>
                    <td>
                        <a routerLink="/d" [queryParams]="{'position':'hello'}">link</a>
                    </td>
                </tr>

            </table>

            <button (click)="navigate()">navigate</button>

        </div>

    </div>

</div>
