
        <app-layout></app-layout>
        <router-outlet></router-outlet>

        <!-- <div class="row">
            <div class="col-md-6">
                <app-navigation [list]="clients">
                    <h2>Manager</h2>
                </app-navigation>
            </div>

            <div class="col-md-6">
                <app-navigation [list]="employee">
                    <h2>Employees</h2>
                </app-navigation>

            </div>

        </div> -->


 <!-- form -->
 <!-- <app-header></app-header> -->
