<div class="row d-flex">
  
        <div class="col-sm-6 col-md-3">
            <h1>hello</h1>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>hello</h1>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>hello</h1>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>hello</h1>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>hello</h1>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>hello</h1>
        </div>
</div>

